* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    max-width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    min-width: 300px;
    max-width: 80%;
}