* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.wrapper {
    max-width: 100%;
    /* min-width: 320px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    /* background-color: red; */
}
header {
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    background-color: rgba(95, 95, 95, 0.5);
    /* position: fixed;
    top: 10px; */
}

/* to do: 
move css properties from body to wrapper
*/